<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>terbang.com</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/modal.css">
</head>

<body>
    <% include navbar %>

    <div class="cover">
        <h2>Discover <%- messages().error %></h2>
        <h1>Discover new Worlds</h1>
    </div>
    <div class='find'>
        <h2>Find the Adventure of Lifetime</h2>
        <form class="find-choose" action="/find" method="POST">
            <div class="inputan">
                <label for="from">From:</label>
                <input type="text" id="from" placeholder="Keyword here" name="asal" autocomplete="off">
            </div>
            <div class="inputan">
                <label for="to">To:</label>
                <input type="text" id="to" placeholder="Keyword here" name="destinasi" autocomplete="off">
            </div>
            <div class="inputan">
                <label for="Departure">Departure date:</label>
                <input type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" id="Departure" placeholder="Keyword here" name="tglDatang" autocomplete="off">
            </div>
            <div class="find-btn">
                <button>Find</button>
            </div>
        </form>
    </div>
    <div class="content">
        <section class="header">
            <article>
                <h1>Top destinations in Indonesia</h1>
                <h2>TAKE A LOOK AT THESE OFFERS</h2>
            </article>
        </section>

        <section class="container">
            <% data.forEach(d=>{%>
                <a href="/prebooking/<%= d.id %>">
                    <div class="content-img" style="background-image: url('<%= d.image %>');">
                        <h3>From IDR<%= d.hrgOld %></h3>
                        <h2><%= d.asal %> - <%= d.destinasi %></h2>
                    </div>
                </a>
            <%}) %>
        </section>
    </div>

    <% include footer %>

    <% include modal %>

    <script src="js/modal.js"></script>
    <script src="/js/navbar.js"></script>
    
</body>

</html>